footer{
    background-color: #ffffff; 
    height: 60px; 
    width: 100%; 
    position: fixed; 
    bottom: 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #CCCCCC;
}